<div class="footer">
  <span class="nav-link">
    <h4 style="color: #ffffff">Lean sinn <a href="https://www.twitter.com/GeidhUK/"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/GeidhUK/"><i class="fab fa-instagram"></i></a> <a href="https://www.facebook.com/GeidhUK/"><i class="fab fa-facebook-f"></i></a> <a href="https://www.youtube.com/channel/UCyjCOarZ4jwljuKTOlRzrrg"><i class="fab fa-youtube"></i></a> <a href="https://geidh.uk/feed"><i class="fas fa-rss"></i></a></h4><br/>
    <i class="fa fa-code"></i> le <i class="fa fa-heart"></i> le <a href="https://github.com/GeidhUK/GeidhUK.github.io/" title="Stòr Github Chrìstein MhicMhìcheil | Chris Mitchell's Github Repository">Crìstean MacMhìcheil</a><br/>
    <i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i>
  </span>
</div>
