<div class="row">
  <div class="col-md-4">
    <p><i class="fab fa-twitter"></i> Twitter: [@GeidhUK](https://www.twitter.com/GeidhUK)</p>
    <p><i class="fab fa-instagram"></i> Instagram: [@GeidhUK](https://www.instagram.com/GeidhUK)</p>
  </div>
  <div class="col-md-4">
    <p><i class="fab fa-twitter"></i> Twitter Chrìstein: [@MacMhìcheil](https://www.twitter.com/MacMhicheil)</p>
    <p><i class="fab fa-instagram"></i> Instagram Chrìstein: [@MacMhìcheil](https://www.instagram.com/MacMhicheil)</p>
  </div>
  <div class="col-md-4">
    <p><i class="fas fa-rss"></i> [RSS (Naidheachdan)]({{ site.baseurl }}/naidheachdan-rss.xml)</p>
    <p><i class="fas fa-rss"></i> [RSS (Tachartasan)]({{ site.baseurl }}/tachartasan-rss.xml)</p>
  </div>
</div>
