---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="post">
        <h3 class="post-title">{{ page.title }}</h3>
        <span class="post-date text-muted">
          {{ page.date | date: "%Y-%m-%d" }}
        </span>
        <span class="post-category text-muted"><i class="fa fa-tag"></i>
          {% for category in page.categories %}
            <a class="post-category-link" href="{{ site.baseurl }}/roinn-seorsa/{{ category }}">
              #{{ category }}
            </a>
          {% endfor %}
        </span>
          <img src="{{ page.image }}" class="post-image">

        {{ content }}
      </div>

      <div class="comments">
        {% if post.twitter-comments and post.facebook-comments %}
        <h4>Beachdan</h4>
        <p>Ma tha beachd agaibh air am post seo, faodaidh sibh freagairt a chur ris air <a href="{{ post.twitter-comments }}">Twitter</a> no <a href="{{ post.facebook-comments }}">Facebook</a>.
        {% elsif post.twitter-comments %}
        <h4>Beachdan</h4>
        <p>Ma tha beachd agaibh air am post seo, faodaidh sibh freagairt a chur ris air <a href="{{ post.twitter-comments }}">Twitter</a>.
        {% elsif post.facebook-comments %}
        <h4>Beachdan</h4>
        <p>Ma tha beachd agaibh air am post seo, faodaidh sibh freagairt a chur ris air <a href="{{ post.facebook-comments }}">Facebook</a>.
        {% endif %}
      </div>

      <div class="related">
        {% unless page.categories == null %}
      	  {% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}
      	  {% unless site.categories[pageCategory].size == 1 %}
            <h4>Co-cheangailte</h4>
            <ul class="related-posts">
              {% for post in site.categories[pageCategory] limit:6 %}
                {% unless post.title == page.title %}
                	<li class="related-post">
      	           	<p>
      		            <a class="related-post" href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.date | date: "%Y-%m-%d" }} {{ post.title }}
      		            </a>
      	           	</p>
      	          </li>
                {% endunless %}
              {% endfor %}
      	    </ul>
      	  {% endunless %}
      	{% endunless %}
      </div>
    </div>
  </div>
</div>
