---
layout: page
---

<p>Gu h-ìosal chìthear cuid dhe na tachartasan LCDTQ+ a bhios a' tachairt air feadh Alba agus an Rìoghachd Aonaichte am-bliadhna.</p>

<p>Ma tha sibh eòlach air tachartas a bu chòir a bhith ann, cuiribh fios thugainn air <a href="https://www.twitter.com/GeidhUK">Twitter</a>.</p>

<p>Gheibhear tasglann de thachartasan roimhe <a href="{{ site.baseurl }}/roinn-seorsa/tachartasan-roimhe/">an seo</a></p>

<!-- Displays the page content -->
{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

<!-- Diplays if there are no posts in this category -->
{% unless site.categories[page.category].size > 0 %}
  <p>Chan eil post sam bith anns an roinn-seòrsa seo.</p>
{% endunless %}

<!-- Converts the month number to the Gàidhlig name -->
{% for post in site.categories[page.category] reversed %}
	{% assign currentDate = post.date | date: "%-m" %}
	{% if currentDate != myDate %}
		<h4 class="event-list-month">
      {% case currentDate %}
        {% when '1' %}Am Faoilleach
        {% when '2' %}An Gearran
        {% when '3' %}Am Màrt
        {% when '4' %}An Giblean
        {% when '5' %}An Cèitean
        {% when '6' %}An t-Ògmhìos
        {% when '7' %}An t-Iuchar
        {% when '8' %}An Lùnastal
        {% when '9' %}An t-Sultain
        {% when '10' %}An Dàmhair
        {% when '11' %}An t-Samhain
        {% when '12' %}An Dùbhlachd
      {% endcase %}

    </h4>
		{% assign myDate = currentDate %}
	{% endif %}
    <div class="row">
      <div class="col-md-3">
        <a href="{{ post.larach-lin }}" target="_blank" rel="noopener"><img src="{{ post.image}}" class="index-image" /></a>
      </div>
      <div class="col-md-9">
        <h5 class="post-title"><a href="{{ post.larach-lin }}" target="_blank" rel="noopener">{{ post.title }}</a></h5>

        <!-- Event date as defined in the front matter of the event's post -->
        <p><strong><i class="fas fa-clock event-icons"></i> </strong>{{ post.ceann-latha }}<p>

        <!-- Event address as defined in the front matter of the event's post -->
        <p><strong><i class="fas fa-map-marker-alt event-icons"></i> </strong>{{ post.seoladh }}</p>
        
        <!-- Event type as defined in the front matter of the event's post -->
        <p><strong><i class="fas fa-folder event-icons"></i> </strong>{{ post.event-type }}</p>

        <p>Airson barrachd fhiosrachaidh mun tachartas seo tadhalaibh air:</p>
          <!-- Adds a button link to the event website, Twitter and/or Facebook page as defined in the front matter of the event's post -->
          {% include event-links.html %}

      </div>
    </div>

    <!-- Adds an invisible divider between each event -->
    <div class="section-divider"></div>

{% endfor %}
