---
layout: page
---

<!-- Displays the event's post content -->
{{ content }}

<!-- Event date as defined in the front matter of the event's post -->
<h4>Cùin</h4>
<p>{{ page.ceann-latha }}</p>

<!-- Event address as defined in the front matter of the event's post -->
<h4>Càit</h4>
<p>{{ page.seoladh }}</p>

<p>Airson barrachd fhiosrachaidh mun tachartas seo tadhalaibh air:</p>
  <!-- Adds a button link to the event website, Twitter and/or Facebook page as defined in the front matter of the event's post -->
  {% include event-links.html %}
